/* You can add global styles to this file, and also import other style files */

body {
    background-image: linear-gradient(to right, #1abc9c);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    background-attachment: fixed;
}

nav {
    background-image: linear-gradient(to right, #77f5dc, #1abc9c);
    margin-bottom: 2rem;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
}

nav a {
    color: white;
    font-size: 3rem;
}

#quotes {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    margin-bottom: 2rem;
}

#header {
    background: linear-gradient(to right, #e22746, pink);
    text-align: center;
    color: white;
}

.btn {
    border-radius: 0;
    padding-left: 1rem;
    background: #1abc9c;
    outline: none;
}

.carder {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.price {
    color: grey;
    font-size: 22px;
}

.carder img {
    height: 300px;
    width: 100%;
}

.carder button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-image: linear-gradient(to right, #e22746, pink);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.carder button:hover {
    opacity: 0.7;
}

footer {
    background-color: black;
    color: white;
}